* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.header {
    background-color: rgb(58, 170, 13);
    text-align:center;
    width: 100%;
    display: flex;
    display: inline-block;
    padding: 10px;
}
.meio {
    background-image: url("img/aerw48.webp");
    color: #f0ffff;);
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    padding: 20px;
    justify-content: center;
}
.rodape {
    background-color: rgb(1, 46, 7);
    color: #f0ffff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    text-align:center;
}

.menu a {
    margin: 5px;
}
.add {
    text-align: left;
    display: inline-block;
    padding: 1vh 1vh;
    font-size: 2vh;
    border: 0.3vh solid #cfd1d3;
    max-width: 36vh;
}
#link-foto {
    width: 50vh;
    max-width: 35vh;
}
#descricao {
    width: 50vh;
    max-width:35vh;
}
#preço {
    width: 50vh;
    max-width:35vh;
}
#quantidade {
    width: 50vh;
    max-width:35vh;
}
table {
    border: 0.3vh solid #cfd1d3;  
}