#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
.RESPOSTAS {
    display: grid;
/* LV 1*/
    grid-column-start: 3;
/* LV 2*/
    grid-column-start: 5;
/* LV 3*/
    grid-column-end: 4;
/* LV 4*/
    grid-column-end: 2;
/* LV 5*/
    grid-column-end: -2;
/* LV 6*/
    grid-column-start: -3;
/* LV 7*/
    grid-column-end: span 2;
/* LV 8*/
    grid-column-end: span 5;
/* LV 9*/
    grid-column-start: span 3;
/* LV 10*/
    grid-column: 4 / 6;
/* LV 11*/
    grid-column: 2 / span 3;
/* LV 12*/
    grid-row-start: 3;
/* LV 13*/
    grid-row: 3 / 6;
/* LV 14*/
    grid-row: 5;
    grid-column: 2;
/* LV 15*/
    grid-column: 2 / 6;
    grid-row: 1 / 6;    
/* LV 16*/
    grid-area: 1 / 2 / 4 / 6;
/* LV 17*/
    grid-area: 2 / 3 / 5 / 6;
/* LV 18*/
    order: 5;
/* LV 19*/
    order: -1
/* LV 20*/
    grid-template-columns: 50%;
/* LV 21*/
    grid-template-columns: repeat(8, 12.5%);
/* LV 22*/   
    grid-template-columns: 100px 3em 40%;
/* LV 23*/
    grid-template-columns: 1fr 5fr;
/* LV 24*/   
    grid-template-columns: 50px repeat(3, 1fr) 50px;
/* LV 25*/
    grid-template-columns: 75px 3fr 2fr;
/* LV 26*/
    grid-template-rows: 50px 0 0 0 1fr;
/* LV 27*/
    grid-template: 60% / 200px;
/* LV 28*/
    grid-template: 1fr 50px / 20% 4fr;
}
    